    body {
        margin: 1em !important;
    }

    .highlight-positive {
        background-color: #c6efce !important;
    }

    .highlight-negative {
        background-color: #f8d7da !important;
    }

    .highlight-neutral {
        background-color: #d3d3d3 !important;
    }